extends layout

block content
  h1 Rmaughan93 GitHub
  each repo, key in collection
    ul
      li
        a(href=repo.html_url) #{repo.name}
        p Owner: #{repo.owner.login} / Watchers: #{repo.watchers} / Updated at: #{repo.updated_at}
    
