h1 #{repo.name}

h2 Info
p Description: #{repo.description}
p Language: #{repo.language}
p Forks: #{repo.forks}

h2 Important Data
p Open Issues: #{repo.open_issues_count}


a(href='#{repo.html_url}') GitHub
